<div class="row">
	<div class="col-xs-12 col-md-4 wrap-margin">
		<textarea class="form-control form-control-sm" rows="8" [(ngModel)]="CommandsModel" (keypress)="Commands_OnKeyPress($event)"  title="Press Ctrl+Enter to Compile"></textarea>
	</div>
	<div class="col-xs-12 col-md-6">
		<div class="row">
			<div class="col-xs-12 wrap-margin">
				<button class="btn btn-primary-outline" (click)="SetCommands()">Compile</button>
			</div>
			<div class="col-xs-12 wrap-margin">
				<p class="label label-danger" *ngIf="mcService.CompileErrorMessage !== ''">{{mcService.CompileErrorMessage}}</p>
			</div>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col-xs-12">
		<button class="btn btn-primary-outline wrap-margin" (click)="mcService.Clock()" [disabled]="mcService.env.ProgramFinished()">Clock</button>
		<button class="btn btn-secondary wrap-margin" (click)="Reset()">Reset</button>
	</div>
</div>
<div class="row">
	<div class="col-xs-6 col-lg-2 wrap-margin-lg">
		<h3>ROM</h3>
		<div class="row" *ngFor="#value of mcService.env.ROM; #outerI = index">
			<div class="col-xs-12 bit-col">
				<div class="bit" *ngFor="#bit of ArrayOfLength(); #i = index" [ngClass]="{on: IsBitOn(value, i)}"
					(click)="ToggleBitOfCollection(mcService.env.ROM, outerI, i)"></div>
				<div class="bit-counter" *ngIf="mcService.env.ProgramCounter === outerI" [ngClass]="{'finished': mcService.env.ProgramFinished()}"></div>
			</div>
		</div>
		<br>
		<div>
			<label for="program-length">Length of Program in ROM</label>
			<div>
				<input id="program-length" [(ngModel)]="RomLength" type="number" class="form-control form-control-sm program-length wrap-margin">
				<button class="btn btn-secondary btn-sm" (click)="ApplyRomLength()"><span *ngIf="RomLength !== mcService.env.RomLength">*</span>Apply</button>
				<div><small>This determines how long the program in the ROM is. This is so that the remaining 0s won't be executed as statements.</small></div>
			</div>
		</div>
	</div>
	<div class="col-xs-6 col-lg-2 wrap-margin-lg">
		<div *ngIf="mcService.env.RAM.length > 0">
			<h3>RAM</h3>
			<div class="row" *ngFor="#value of mcService.env.RAM; #outerI = index">
				<div class="col-xs-12">
					<div class="bit" *ngFor="#bit of ArrayOfLength(); #i = index" [ngClass]="{on: IsBitOn(value, i)}"
						(click)="ToggleBitOfCollection(mcService.env.RAM, outerI, i)"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-4 wrap-margin-lg">
		<div class="row wrap-margin-lg">
			<div class="col-xs-12">
				<h3>In</h3>
				<div class="bit" *ngFor="#bit of ArrayOfLength(); #i = index" [ngClass]="{on: IsBitOn(mcService.env.In, i)}"
					(click)="ToggleBit('In', i)"></div>
			</div>
		</div>
		<div class="row wrap-margin-lg">
			<div class="col-xs-12">
				<h3>Out</h3>
				<div class="bit" *ngFor="#bit of ArrayOfLength(); #i = index" [ngClass]="{on: IsBitOn(mcService.env.Out, i)}"
					(click)="ToggleBit('Out', i)"></div>
			</div>
		</div>
		<div class="row wrap-margin-lg">
			<div class="col-xs-12">
				<h3>Accumulator A</h3>
				<div>
					<button class="btn btn-sm btn-secondary wrap-margin" (click)="mcService.env.Carry = !mcService.env.Carry">Carry: {{mcService.env.Carry}}</button>
				</div>
				<div class="bit" *ngFor="#bit of ArrayOfLength(); #i = index" [ngClass]="{on: IsBitOn(mcService.env.A, i)}"
					(click)="ToggleBit('A', i)"></div>
			</div>
		</div>
		<div class="row wrap-margin-lg">
			<div class="col-xs-12">
				<h3>Accumulator B</h3>
				<div class="bit" *ngFor="#bit of ArrayOfLength(); #i = index" [ngClass]="{on: IsBitOn(mcService.env.B, i)}"
					(click)="ToggleBit('B', i)"></div>
			</div>
		</div>
		<div class="row wrap-margin-lg">
			<div class="col-xs-12">
				<h3>ProgramCounter</h3>
				<div class="wrap-margin">
					<div class="bit" *ngFor="#bit of ArrayOfLength(); #i = index" [ngClass]="{on: IsBitOn(mcService.env.ProgramCounter, i)}"
						(click)="ToggleBit('ProgramCounter', i)"></div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<span class="label label-info" *ngIf="mcService.env.ProgramFinished()">End of Program</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-lg-4">
		<div class="row">
			<div class="col-xs-12">
				<div *ngFor="#statement of mcService.Statements">
					<i>{{statement.Id}}</i> - {{statement.Name}}: {{statement.Desc}}
				</div>
			</div>
			<div class="col-xs-12">
				<br>
			</div>
			<div class="col-xs-12 col-lg-8">
				<h4>Configure</h4>
				<div class="row">
					<div class="col-xs-6">
						<label for="preset">Select Statement Set</label>
					</div>
					<div class="col-xs-6">
						<select id="preset" class="form-control form-control-sm wrap-margin" (change)="SelectedPresetChanged($event)">
							<option value="mcsim">MC Sim</option>
							<option value="demopc">Demo-PC (Work in progress, use with caution)</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<label for="rom-length">ROM Length</label>
					</div>
					<div class="col-xs-6">
						<input id="rom-length" class="form-control form-control-sm wrap-margin" type="number" min="0" [(ngModel)]="config.RomLength">
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<label for="ram-length">RAM Length</label>
					</div>
					<div class="col-xs-6">
						<input id="ram-length" class="form-control form-control-sm wrap-margin" type="number" min="0" [(ngModel)]="config.RamLength">
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<label for="bit">Word width</label>
					</div>
					<div class="col-xs-6">
						<input id="bit" class="form-control form-control-sm wrap-margin" type="number" min="0" max="8" [(ngModel)]="config.Bit">
					</div>
				</div>
				<button class="btn btn-primary-outline" (click)="ConfigureService()">Apply Configuration</button>
			</div>
		</div>
	</div>
</div>
