<div class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <a class="navbar-brand" [routerLink]="['Home']">Lukee910</a>
    <ul class="nav navbar-nav">
        <li class="nav-item" *ngFor="#route of routes">
            <a class="nav-link" [ngClass]="{active: router.isRouteActive(router.generate([route]))}" [routerLink]="[route]">{{route}}</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" [routerLink]="['M307']">Module 307</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['M105']">Module 105</a>
        </li> -->
    </ul>
</div>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
