<nav class="navbar navbar-light bg-faded navbar-fixed-top">
    <a class="navbar-brand" [routerLink]="['/']">lukee910</a>
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']" [routerLinkActive]="'link-active'"
                [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/mcsim']" [routerLinkActive]="'link-active'">MC Sim</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="ukToggle" data-toggle="dropdown">&Uuml;K</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" [routerLink]="['/m105']" [routerLinkActive]="'link-active'">M105 SQL</a>
                <a class="dropdown-item" [routerLink]="['/m307']" [routerLinkActive]="'link-active'">M307 Web Apps (JS &amp; PHP)</a>
            </div>
        </li>
    </ul>
</nav>

<div class="col-xs-12">
    <router-outlet></router-outlet>
</div>
